<mat-dialog-content class="mat-typography">
  <div *ngIf="filteredOrders?.length > 0; else noSalesBlock">
    <div *ngFor="let order of filteredOrders">
        <h3>Detalles de Compra</h3>
            <p><b>Fecha:</b> {{ order.sale.date }}</p>
            <p><b>Cantidad total de productos:</b> {{ order.sale.quantity }}</p>
            <p><b>Precio Total:</b> {{ order.sale.totalPrice }}</p>
        <h2>Lista de Compras</h2>
    <div>
        <table>
            <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cantidad</th>
            </tr>
           <tr *ngFor="let product of order.product">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </table>
        </div>
    </div>
    </div>
    <ng-template #noSalesBlock>
        <p>El Proveedor no tiene ventas aún</p>
    </ng-template>
</mat-dialog-content>
