
<mat-dialog-content class="mat-typography">
    <h3>Detalles de Compras</h3>
    
    <h2>Cliente</h2>
    <p><b>Nombre:</b> {{customer.name}}</p>
    <p><b>Apellido:</b> {{customer.lastName}}</p>
    <p><b>DNI:</b> {{customer.dni}}</p>
    <p><b>Teléfono:</b> {{customer.phone}}</p>
    <p><b>Dirección:</b> {{customer.address}}</p>
    
    <h2>Lista de Compras</h2>
    <ng-container *ngIf="customer.purchases && customer.purchases.length > 0; else noPurchases">
      <div *ngFor="let purchase of customer.purchases">
        <p><b>Compra # {{purchase.id}}</b> - Fecha: {{purchase.date}} - Total: ${{purchase.totalPrice}}</p>
        <ul *ngFor="let product of purchase.products">
          <li >{{product.productName}} {{product.description}} - Cantidad: {{product.quantity}} - Precio: ${{product.price}}</li>
        </ul>
      </div>
    </ng-container>
    
    <ng-template #noPurchases>
      <p>Este cliente no ha realizado compras aún.</p>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
