
<form [formGroup]="editForm">
    <h2 mat-dialog-title>Editar Cliente {{customer.id}}</h2>

    <mat-form-field appearance="outline" >
        <mat-label>Nombre</mat-label>
        <input matInput type="text" class="form-group" formControlName="name" name="name" required>
    </mat-form-field>
    <div  *ngIf="customerNameField!.errors && (customerNameField!.dirty ||customerNameField!.touched)">
        <div class="error mb-4" *ngIf="customerNameField!.hasError('required')">
          * El campo Nombre es requerido
        </div>
    </div>

    <mat-form-field appearance="outline" >
        <mat-label>Apellido</mat-label>
        <input matInput type="text" class="form-group" formControlName="lastName" name="lastName" required>
    </mat-form-field>
    <div  *ngIf="customerLastNameField!.errors && (customerLastNameField!.dirty || customerLastNameField!.touched)">
        <div class="error mb-4" *ngIf="customerLastNameField!.hasError('required')">
          * El campo Apellido es requerido
        </div>
    </div>

    <mat-form-field appearance="outline" >
        <mat-label>DNI</mat-label>
        <input matInput type="number" class="form-group" formControlName="dni" name="dni" required>
    </mat-form-field>
    <div  *ngIf="dniField!.errors && (dniField!.dirty || dniField!.touched)">
        <div class="error mb-4" *ngIf="dniField!.hasError('required')">
          * El campo DNI es requerido
        </div>
    </div>

    <mat-form-field appearance="outline" >
        <mat-label>Teléfono</mat-label>
        <input matInput type="number" class="form-group" formControlName="phone" name="phone" required>
    </mat-form-field>
    <div  *ngIf="phoneField!.errors && (phoneField!.dirty || phoneField!.touched)">
        <div class="error mb-4" *ngIf="phoneField!.hasError('required')">
          * El Teléfono es requerido
        </div>
    </div>

    <mat-form-field appearance="outline" >
        <mat-label>Dirección</mat-label>
        <input type="text" class="form-group" matInput formControlName="address" name="address" required>
    </mat-form-field>
    <div  *ngIf="addressField!.errors && (addressField!.dirty || addressField!.touched)">
        <div class="error mb-4" *ngIf="addressField!.hasError('required')">
          * El campo Dirección es requerido
        </div>

    </div>

</form>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="updateCustomer()">Editar</button>
</mat-dialog-actions>