<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="createForm">
    <form [formGroup]="createForm">
      <ng-template matStepLabel>Selecciona un Cliente</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select class="form-group" formControlName="customer" name="customer" required>
          <mat-option *ngFor="let customer of customers" [value]="customer">
            {{customer.id}} {{customer.name}} {{customer.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext (click)="customerSave()">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="createForm">
    <form [formGroup]="createForm">
      <ng-template matStepLabel>Selecciona un Proveedor</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Proveedor</mat-label>
        <mat-select class="form-group" formControlName="provider" name="provider" required>
          <mat-option *ngFor="let provider of providers" [value]="provider">
            {{provider.id}} {{provider.providerName}} {{provider.providerLastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext (click)="providerSave()">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="createForm" *ngIf="selectedProvider">
    <ng-template matStepLabel>Selecciona producto y cantidad</ng-template>
    <div *ngFor="let product of selectedProvider.productList">
      <div class="product-content">
          <h3>{{product.id}} {{product.name}}</h3>
          <span class="new-price"><b>$ {{product.price | currency:'ARS' }}</b></span>
      </div>
          <div class="inputs" >
              <form (ngSubmit)="addToCart(product)">
              <div class='input-group' style='width:100px'>
                      <button  type='button' (click)="downQuantity(product)" [disabled]="product.quantity <= 0">-</button>
                      <input matInput type="number" name="quantity" [(ngModel)]="product.quantity" />
                      <button type='button' (click)="upQuantity(product)">+</button>
              </div>
                      <button mat-button name='send' type='submit'>AGREGAR</button>
              </form>
          </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Volver</button>
      <button mat-button matStepperNext (click)="createSaleForm()">Siguiente</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button (click)="stepper.reset()">Eliminar Seleccion</button>
      <button mat-button (click)="createSaleRequest()">Comprar</button>
    </div>
  </mat-step>
</mat-stepper>
