.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
.matInput{
  width: 20px;
}
.mat-form-field{
  margin-top: 20px;
}
.product-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 15px;  
}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center
}
.input-group{
  display: flex;
  margin-bottom: 10px;

}

.button[type="send"]{
  display: flex;
  align-items: center;
}