/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* tablas */

.full-width-table {
    width: 100%;
}

.mat-elevation-z8{
    margin: 15px;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}


/*forms*/

form{
    display: block;
    flex-direction: row;
}


mat-form-field{
    width: 100%;
}

.error{
    color: red;
}

.edit-buttons{
    display: flex;
    justify-content: end;
}

/* inputs number without styles*/

input[type="number"] {
    margin: 0;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
